{% extends 'navbar.html' %}
{% load my_filters %}
{% load bootstrap4 %}

{% block content %}
  <h2>Список компьютеров</h2>
    {% for comp in page_obj %}
      <div class="card" style="width: 18rem;">
  <img src="{{ comp.image.url }}" class="card-img-top" alt="{{ comp.title }}">
  <div class="card-body">
  <h5 class="card-title">{{ comp.title | capitalize_first }}</h5>
  <p class="card-text">{{ comp.info }}. Цена: {{ comp.price }}<br></p>
    <a href="{% url 'CompDetail' pk=comp.id %}" class="btn btn-primary">Узнать подробнее </a>
  </div>
  </div>
    {% endfor %}

  {% if user.is_staff %}
  <a href="{% url 'CompCreate' %}"> Добавить новый компьютер </a>
  {% endif %}

  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; первая</a>
        <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
      {% endif %}

      <span class="current">
        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">следующая</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
      {% endif %}
    </span>
  </div>
{% endblock %}
