{% extends 'navbar.html' %}
{% load my_filters %}

{% block content %}
  <h2>Список компьютеров</h2>
  <div class="computer-list">
    {% for comp in page_obj %}
      <div class="computer-item">
        <h3>{{ comp.title | capitalize_first }}</h3>
        <p>{{ comp.info }}</p>
        <p>Цена: ${{ comp.price }}</p>
        <img src="{{ comp.image.url }}" alt="{{ comp.title }}">
      </div>
    {% endfor %}
  </div>

  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; первая</a>
        <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
      {% endif %}

      <span class="current">
        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">следующая</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
      {% endif %}
    </span>
  </div>
{% endblock %}
