{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            margin: 0;
            padding-bottom: 60px; /* Height of the footer */
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        .container-fluid {
            flex: 1;
        }
        footer {
            width: 100%;
            height: 60px; /* Height of the footer */
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>

<!-- Navbar or Main content -->
<div class="container-fluid">
    <!-- Your content goes here -->
</div>

<footer>
    <div class="container py-3">
        <p>Связаться с нами:</p>
        <p>Почта: mirasaskar96@gmail.com</p>
        <p>Телефон: +77711277424</p>
    </div>
</footer>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
