<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список заказов</title>
</head>
<body>
    <h1>Список ваших заказов</h1>

    {% if orders %}
        <ul>
            {% for order in orders %}
                <li>
                    Заказ №{{ order.id }} (Общая стоимость: {{ order.total_price }} тг.)
                    <ul>
                        {% for product in order.products.all %}
                            <li>{{ product.title }} - {{ product.price }} тг. x {{ order.quantity }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>У вас пока нет заказов.</p>
    {% endif %}

    <a href="{% url 'order_create' %}">Создать новый заказ</a>
</body>
</html>